.hide {
    border-right-color: #999;
    border-bottom-color: #999;
    border-left-color: white;
    border-top-color: white;
}

.revealed {
    border-right-color: white;
    border-bottom-color: white;
    border-left-color: #7b7b7b;
    border-top-color: #7b7b7b;
}

.size {
    width: 20px;
    height: 20px;
    border-width: 4px;
    border-style: solid;
    padding: 16px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 0;
    font-weight: bold;
}

.value-1 {
    color: blue;
}

.value-2 {
    color: green;
}

.value-3 {
    color: red;
}

.value-4 {
    color: darkblue;
}

.value-5 {
    color: maroon;
}

.value-6 {
    color: purple;
}

.value-7 {
    color: darkslategrey;
}

.value-8 {
    color: black;
}