.numberHeader {
    width: 80px;
    height: 48px;
    color: #ff0701;
    background: black;
    text-align: center;
    font-size: 40px;
}

.buttonDifficulty {
    width: 52px;
    height: 52px;
    font-size: 35px;
    border-width: 4px;
    border-style: solid;
    border-right-color: #999;
    border-bottom-color: #999;
    border-left-color: white;
    border-top-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}