.App {
    text-align: center;
    background: #c2c2c2;
    padding: 16px;
    border-width: 4px;
    border-style: solid;
    border-right-color: #999;
    border-bottom-color: #999;
    border-left-color: white;
    border-top-color: white;
}

.body {
    margin-top: 16px;
    border-width: 4px;
    border-style: solid;
    border-right-color: white;
    border-bottom-color: white;
    border-left-color: #7b7b7b;
    border-top-color: #7b7b7b;
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(9, 1fr);
}

.header {
    background: #c0c0c0;
    padding: 10px 12px;
    border: 4px solid;
    border-right-color: white;
    border-bottom-color: white;
    border-left-color: #7b7b7b;
    border-top-color: #7b7b7b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}